body {
	background-color: #f4f4f4 ;
	font-family: 'Ubuntu', sans-serif;
}

.centerlist{
	background-color: #f4f4f4;
}


.thebody {
    padding-top: 100px;
}



.centerTitle{
  font-family: 'Monoton', cursive;
}

.read {
  font-family: 'Roboto Mono', monospace;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


.bar {
	background-color: #35434a;
	border-bottom: #e8491d 3px solid;

}


.color {
	color: white;
}

.navbar {
	background-color: #0F0913;
}

.shift{
	margin-bottom: 70px;
}

.short {
	width: 400px;
}

.shorting {
	width: 100px;
}

.space {
	margin-top: 100px;
}

.sp {
	text-align: center;
}

h3 {
	text-align: center;
}

.center-item {
	text-align: center;
}

div.cont {
    display: block;
    text-align: center;
}

.center {
	text-align: center;
}

.form-actions{
	text-align: center,
}

.centerform {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#log {
	margin-left: 20px;
}

.card {
	margin-left: 50px;
	margin-bottom: 30px;
}


a {
	margin-right: 10px;
}

.loginCard {
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px;
}

.dark{
	padding: 10px;
	background: #35424a;
  
}

.left {
	float: left;
}

.spaces {
	margin-right: 80px;
}


footer{
	padding: 20px;
	margin-top: 50px;
	color: white;
	background-color: #35434a; 
}

ul {
  list-style-type: none;
}

.footerColor {
  color: #84888B;
}

.footerTitle{
  color: #F2F3F3;
}

.con {
	position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
}


.point {
	cursor: pointer; 
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
}

.imgPre {
  width: 50%;
  height: 100%;
}


.centeriMGHeader {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.transbox {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

  

.loader {
  color: #000000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
