// key for jwt token
SECRET=

//port when running on localhost
PORT=

//postgtess data base config for localhost database
configDatabase=
configUsername=
configPassword=
configHost=
configDialect=
configPort=

//url online test database
configDatatest=

//url for production 
url=

// cloundinary settings
CLOUD_NAME=
API_KEY=
API_SECRET=
CLOUNDINARY_API=

// mail config
MAIL_USER=
MAIL_PASS=

// key to set admin
ADMIN=
VALUE=

// default email to set admin
ADMINEMAIL=

// pass for admind when running test
ADMINTESTPASSWORD=

// token for code coverage for client test
CODECOVTOKEN=

// api url for development
API_BASE_URL_DEV=

// api url for production
API_BASE_URL_PROD=
